/* General */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'League Spartan', sans-serif;
}

#close {
    display: none;
}

/* Navigation Bar with a Background Photo */

.navbar {
    background-color: rgba(97, 121, 155, 0.1);
    top: 0;
    width: 100%;
    height: 20%;
    position: absolute; 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.menu {
    width: 80%;
    height: 100%;
    margin-top: 80px;
    display: inline-block;
    align-items: center;
    text-align: center;
}

.navbar #menu-2 {
    display: none;
}

.categories {
    position: relative;
}

.category {
    padding-top: 15px;
    display: block;
    text-decoration: none;
    margin-left: 15px;
    position: relative;
}

.category a {
    display: block;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

/* Changes that occur when hovering every category  */

.category a:hover {
    color: #a4d165;
    cursor: pointer;
    transition: 0.5s;
}

/* Navigation Bar Without a Background Photo */

.navbar-no-photo {
    background-color: rgba(97, 121, 155, 0.1);
    top: 0;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    height: 20%;
    z-index: 1;
    justify-content: center; 
}

.navbar-no-photo .menu a {
    color: rgb(43,57,144);
}

.navbar-no-photo .menu a:hover {
    color: #6a78d2;
    transition: 0.5s;
    cursor: pointer;
}

.navbar-no-photo #menu-2 {
    display: none;
}

/* Hover over the Navigation Bar */

ul#menu li {
    position: relative;
    list-style-type: none;
    float: left;
    width: 150px;
}

ul#menu li > ul {
    display: none;
}

ul#menu li:hover > ul {
    display: block;
}

/* Hamburger Menu Icon Hidden for Both Navigation Bars */

.navbar .fa.fa-bars {
    display: none;    
}

/* Logo inside the Navigation Bar */

.logo {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hfj-logo {
    top: 50%;
    width: 110px;
}

/* Contact Us Button */

.pill {
    background-color: rgb(43,57,144);
    border: 2px solid rgb(43,57,144);
    border-radius: 40px;
    font-family: 'League Spartan', sans-serif;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    margin-left: 25px;
    margin-right: 25px;
    display: inline-block;
    cursor: pointer;
    font-size: 18px;
    color: white;
}

.pill:hover {
    background-color: white;
    border: 2px solid rgb(43,57,144);
    border-radius: 40px;
    color: rgb(43,57,144);
    transition: 0.5s;
    opacity: 0.8;
}

/* Main Container */

.main-container {
    width: 100%;
    height: auto;
}

/* Index Background Images */

.bg-image {
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img1 {
    background-image: url(images/scientist.jpg);
}

.img2 {
    background-image: url(images/blurry\ researcher.jpg);
}

.img3 {
    background-image: url(images/orange-slices.jpg);
}

.img4 {
    background-image: url(images/liquid.png);
}

/* Box on the Left */

.box-left {
    width: 500px;
    height: 400px;
    padding: 60px;
    position: relative;
    text-align: left;
    background-color: #ffffff;
    z-index: 1;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.box-left-2 {
    width: 500px;
    height: 400px;
    padding: 50px;
    position: relative;
    text-align: left;
    background-color: #ffffff;
    z-index: 1;
    top: 50%;
    left: 25%;
    transform: translate(-50%,-50%);
}

/* Box on the Right */

.box-right {
    width: 500px;
    height: 400px;
    padding: 60px;
    position: relative;
    text-align: left;
    background-color: #ffffff;
    z-index: 1;
    top: 50%;
    left: 75%;
    transform: translate(-50%,-50%);
}

/* Right Arrow*/

.fa-arrow-right {
    margin-left: 300px;
    margin-bottom: 15px;
    border: 2px solid white;
}

/* Row */

.row {
    height: 450px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cert-row {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

/* Box with Text */

.big-box-text {
    display: inline-block;
    width: 500px;
    height: 400px;
    padding: 60px;
    text-align: center;
    background-color: white;
    z-index: 1;
}

/* Big Box with Photo */

.big-box-photo {
    display: inline-block;
    width: 500px;
    height: 400px;
    text-align: center;
    background-color: rgba(97, 121, 155, 0.1);
    z-index: 1;
}

/* Images that Fit into the Big Boxes */

.bg-image-2 {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img5 {
    background-image: url(images/liquid.png);
    object-fit: cover;
}

.img6 {
    background-image: url(images/factory-juice.jpg);
    object-fit: cover;
}

.img7 {
    background-image: url(images/lime-slices.jpg);
    object-fit: cover;
}

.img8 {
    background-image: url(images/orange-juice-splash.jpg);
    object-fit: cover;
}

.img9 {
    background-image: url(images/scientific-analysis.jpg);
    object-fit: cover;
}

.img10 {
    background-image: url(images/blurry\ researcher.jpg);
    object-fit: cover;
}

.img11 {
    background-image: url(images/laboratory-flasks.jpg);
    object-fit: cover;
}

.img12 {
    background-image: url(images/group-medical-researchers.jpg);
    object-fit: cover;
}

.img13 {
    background-image: url(images/close-up-researcher-holding-glassware.jpg);
    object-fit: cover;
}

.img14 {
    background-image: url(images/orange-smoothie.jpg);
    object-fit: cover;
}

.img15 {
    background-image: url(images/fruits.jpg);
    object-fit: cover;
}

.img16 {
    background-image: url(images/test-tubes.jpg);
    object-fit: cover;
}

.img17 {
    background-image: url(images/disk-liquid.jpg);
    object-fit: cover;
}

.img18 {
    background-image: url(images/fruits.jpg);
    object-fit: cover;
}

/* Quote */

.quote {
    display: inline-block;
    width: 500px;
    height: 200px;
    padding: 60px;
    text-align: center;
    background-color: #ffffff;
    z-index: 1;
    font-style: italic;
}

.quote p {
    color: rgb(43,57,144);
    font-size: 50px;
    font-weight: 300;
}

/* Small Box with Photo */

.small-box-photo {
    display: inline-block;
    width: 500px;
    height: 200px;
    text-align: center;
    background-color: rgba(97, 121, 155, 0.1);
    z-index: 1;
}

/* Banner */

.cert-banner {
    width: 1200px;
    height: 200px;
    text-align: center;
    z-index: 1;
    background-color: rgba(97, 121, 155, 0.1);
}

/* H4 */

h4 {
    color: #606060;
    font-size: 35px;
    font-weight: bold;
}

/* H3 */

h3 {
    color: #606060;
    font-size: 30px;
}

/* P */

p {
    color: #606060;
    font-size: 22px;
}

/* Scroll to Top Button */

#myBtn {
    background-color: transparent;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 0;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: transparent;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    opacity: 0.7;
    transition: 0.5s;
}

/* Big Text */

.big-text {
    margin-top: 60px;
    margin-bottom: 60px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    padding: 50px;
}

.big-text a {
    color: #ffffff;
    text-decoration: none;
}

.big-text h3 {
    color: rgb(43,57,144);
    font-weight: bolder;
    font-size: 45px;
}

.big-text p {
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
}

.big-text-2 {
    margin-top: 200px;
    margin-bottom: 60px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
}

.big-text-2 a {
    color: #ffffff;
    text-decoration: none;
}

.big-text-2 h3 {
    color:  rgb(43, 57, 144);
    font-weight: bolder;
    font-size: 45px;
}

.big-text-2 p {
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
}

/* Big Text for Contact Us Page */

.big-text-cont {
    align-items: center;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    letter-spacing: 0.5px;
}

.big-text-cont a {
    color: #ffffff;
    text-decoration: none;
}

.big-text-cont h3 {
    color: rgb(43, 57, 144);
    font-weight: bolder;
    font-size: 45px;
    margin-top: 200px;
}

.big-text-cont p {
    color: rgb(43, 57, 144);
    font-weight: bold;
    font-size: 20px;
    margin-top: 40px;
}

.big-text-cont a button {
    margin-top: 40px;
}

/* Background Color for Contact Us Page */

#contact-color {
    background-color: rgb(225, 228, 246);
}

/* E-mail Button */

.email-button {
    background-color: #ffffff;
    border: 2px solid rgb(43,57,144);
    font-family: 'League Spartan', sans-serif;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    margin-left: 25px;
    margin-right: 25px;
    display: inline-block;
    cursor: pointer;
    border-radius: 40px;
    font-size: 18px;
    color: rgb(29,38,97);
}

.email-button:hover {
    background-color: rgb(43,57,144);
    border: 2px solid rgb(43,57,144);
    border-radius: 40px;
    color: #ffffff;
    transition: 0.5s;
}

/* Footer */

.footer {
    bottom: 0;
    background-color: rgb(43,57,144);
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    padding: 20px;
    align-items: center;
    text-align: center;
}

.col-1 {    
    width: 33%;
    top: 50%;
    cursor: default;
}

.col-1 h4 {
    color: #ffffff;
    margin-bottom: 25px;
}

.col-1 p {
    font-weight: 300;
    margin-top: 15px;
}

.col-2 {
    padding: 10px;
    width: 33%;
    align-items: center;
    text-align: center;
    flex-grow: 2;
    cursor: default;
}

.col-2 h3 {
    font-weight: 200;
    margin-bottom: 25px;
}

.col-2 a {
    text-decoration: none;
}

.col-2 p {
    font-weight: 300;
    margin-top: 15px;
}

.col-3 {
    width: 33%;
    padding: 10px;
    align-items: center;
    text-align: center;
}

.footer div h3 {
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 1px;
}

.footer div p {
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0.5px;
}

/* Social Media Buttons */

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa-linkedin {
    border: 2px solid #ffffff;
    background: #ffffff;
    color: rgb(43,57,144);
}

.fa-linkedin:hover {
    border: 2px solid #ffffff;
    transition: 0.5s;
    background-color: rgb(43,57,144);
    color: #ffffff;
}

/* HFJ Colors */

.blue {
    color: rgb(43,57,144);
}

.blue:hover {
    border: 2px solid rgb(43,57,144);
    transition: 0.5s;
}

.green {
    color: rgb(141,198,63);
}

.green:hover {
    border: 2px solid rgb(141,198,63);
    transition: 0.5s;
}

.yellow {
    color: rgb(255,222,23);
}

.yellow:hover {
    border: 2px solid rgb(255,222,23);
    transition: 0.5s;
}

/* Responsiveness */

/* For screens with max-width: 1200px */

@media only screen and (max-width: 1200px) {

    .category {
        padding-top: 8px;
        margin-left: 0;        
    }

    .category a {
        font-size: 18px;
    }

    .hfj-logo {
        width: 100px;
    }

    .pill {
        margin-left: 15px;
        margin-right: 15px;
    }

    .row {
        height: 350px;
    }

    .big-box-text {
        width: 450px;
        height: 350px;
        padding: 50px;
    }

    .quote {
        width: 450px;
        height: 150px;
        padding: 50px;
    }

    .quote p {
        font-size: 40px;
    }

    .big-box-photo {
        width: 450px;
        height: 350px;
    }

    .small-box-photo {
        width: 450px;
        height: 150px;
    }

    .cert-banner {
        width: 1000px;
        height: 150px;
    }

    .box-left {
        width: 450px;
        height: 350px;
        padding: 50px;
    }

    .box-left-2 {
        width: 450px;
        height: 350px;
        padding: 50px;
    }

    .box-right {
        width: 450px;
        height: 350px;
        padding: 50px;
    }

    .big-text h3 {
        font-size: 40px;
    }

    .big-text-cont h3 {
        font-size: 40px;
    }

    h4 {
        font-size: 25px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 18px;
    }
}

/* When the screen is less than 1060 pixels wide, the menu is hidden and the menu icon will be shown */

@media only screen and (max-width:1060px) {

    /* Navigation Bar Changes */    

    .menu {
        display: none;
    }

    .logo {
        position: absolute;
        left: 0;
        top: 0;
    }

    .navbar .menu-2 {
        position: absolute;
        z-index: 2;
    }

    .navbar #menu-2 {
        display: block;
    }

    /* The Position of the Three Bars is set here */

    .navbar #menu-bar {
        position: relative;
        width: 25px;
        height: 40px;
        top: 55px;  
        right: 60px;
        cursor: pointer;
    }

    .navbar .bar {
        overflow-x: hidden;
        position: relative;
        height: 4px;
        width: 100%;
        background-color: #ffffff;
        display: block;
        border-radius: 5px;
        transition: 0.3s ease;
    }

    .navbar #bar1 {
        transform: translateY(-4px);
    }

    .navbar #bar3 {
        transform: translateY(4px);
    }

    .navbar .nav {
        position: absolute;
        top: 65px;
        right: 60px;
        display: none;
        transition: 0.5s ease;
    }

    .navbar .nav ul {
        padding: 8px;
    }

    .navbar .nav li {
        list-style: none; 
        padding: 10px;
    }

    .navbar .nav li a {
        text-decoration: none;
        color: #ffffff;
        font-size: 18px;
    } 
    
    .navbar .nav li a:hover {
        color: #a4d165;
        transition: 0.3s ease;
    }

    .navbar #menu-2 {
        top: 0;
        right: 10px;
        position: absolute;
        z-index: 99;
    }

    .navbar .menu-bg {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        width: 0;
        height: 0;
        background: radial-gradient(circle, rgb(43,57,144), rgb(43,57,144));
        border-radius: 50%;
        transition: 0.3s ease;
        overflow: hidden;
    }

    /* Navigation Bar Witout Photo Changes */

    .navbar-no-photo .menu-2 {
        position: absolute;
        z-index: 2;
    }

    .navbar-no-photo #menu-2 {
        display: block;
    }

    .navbar-no-photo #menu-bar {
        position: absolute;
        width: 25px;
        height: 40px;
        top: 55px;  
        right: 60px;
        cursor: pointer;
    }

    .navbar-no-photo .bar {
        position: relative;
        height: 4px;
        width: 100%;
        background-color: rgb(43,57,144);
        display: block;
        border-radius: 5px;
        transition: 0.3s ease;
    }

    .navbar-no-photo #bar1 {
        transform: translateY(-4px);
    }

    .navbar-no-photo #bar3 {
        transform: translateY(4px);
    }

    .navbar-no-photo .nav {
        position: absolute;
        top: 65px;
        right: 60px;
        display: none;
        transition: 0.5s ease;
    }

    .navbar-no-photo .nav ul {
        padding: 8px;
    }

    .navbar-no-photo .nav li {
        list-style: none; 
        padding: 8px;
    }

    .navbar-no-photo .nav li a {
        text-decoration: none;
        color: #ffffff;
        font-size: 18px;
    } 
    
    .navbar-no-photo .nav li a:hover {
        color: #a4d165;
        transition: 0.3s ease;
    }

    .navbar-no-photo #menu-2 {
        top: 0;
        right: 10px;
        position: absolute;
        z-index: 2;
    }

    .navbar-no-photo .menu-bg {
        position: absolute; 
        right: 0;
        top: 0;
        z-index: 1;
        width: 0;
        height: 0;
        background: radial-gradient(circle, rgb(43,57,144), rgb(43,57,144));
        border-radius: 50%;
        transition: 0.3s ease;
    }

    /* Navigation Bar Toggles */

    .navbar .change {
        display: block;
    }

    .navbar .change .bar {
        background-color: #ffffff;
    }

    .navbar .change #menu-2 {
        top: 0;
        right: 10px;
        z-index: 2;
        position: absolute;
        display: block;
    }

    .navbar .change #bar1 {
        transform: translateY(2px) rotateZ(-45deg);
    }

    .navbar .change #bar2 {
        opacity: 0;
    }

    .navbar .change #bar3 {
        transform: translateY(-6px) rotateZ(45deg);
    }

    .navbar .change-bg {
        width: 500px;
        height: 500px;
        transform: translate(40%,-20%);
    }

    /* Navigation Bar Without Photo Toggles */

    .navbar-no-photo .change {
        display: block;
    }

    .navbar-no-photo .change .bar {
        background-color: #ffffff;
    }

    .navbar-no-photo .change #menu-2 {
        top: 0;
        right: 10px;
        z-index: 2;
        position: absolute;
        display: block;
    }

    .navbar-no-photo .change #bar1 {
        transform: translateY(2px) rotateZ(-45deg);
    }

    .navbar-no-photo .change #bar2 {
        opacity: 0;
    }

    .navbar-no-photo .change #bar3 {
        transform: translateY(-6px) rotateZ(45deg);
    }

    .navbar-no-photo .change-bg {
        width: 500px;
        height: 500px;
        transform: translate(40%,-20%);
    }

}

/* For screens with max-width: 1060px */

@media only screen and (max-width:1060px) {

    .hfj-logo {
        width: 100px;
    }

    .bg-image {
        height: 800px;
    }

    .row {
        height: 350px;
    }

    .big-box-text {
        width: 450px;
        height: 350px;
        padding: 50px;
    }

    .quote {
        width: 450px;
        height: 150px;
        padding: 50px;
    }

    .quote p {
        font-size: 40px;
    }

    .big-box-photo {
        width: 450px;
        height: 350px;
        z-index: 0;
    }

    .small-box-photo {
        width: 450px;
        height: 150px;
        z-index: 0;
    }

    .cert-banner {
        width: 1000px;
        height: 150px;
    }

    .box-left {
        width: 450px;
        height: 350px;
        padding: 50px;
    }

    .box-left-2 {
        width: 450px;
        height: 350px;
        padding: 50px;
    }

    .box-right {
        width: 450px;
        height: 350px;
        padding: 50px;
    }

    .big-text h3 {
        font-size: 40px;
    }

    .big-text-cont h3 {
        font-size: 40px;
    }

    h4 {
        font-size: 25px;
    }

    h3 {
        font-size: 25px;
    }

    p {
        font-size: 18px;
    }

}

/* For screens with max-width: 920px */

@media only screen and (max-width:920px) {

    .hfj-logo {
        width: 90px;
        margin-left: 25%;
    }

    .bg-image {
        height: 700px;
    }

    .row {
        all: unset;
        height: 600px;
    }

    .big-box-text {
        all: unset;
        position: relative;
        display: inline-block;
        width: 450px;
        height: 300px;
        padding: 50px;
        text-align: center;
        background-color: #ffffff;
        z-index: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 20px;
    }

    .big-box-text p {
        font-size: 20px;
    }

    .quote {
        all: unset;
        position: relative;
        display: inline-block;
        width: 350px;
        height: 150px;
        padding: 50px;
        text-align: center;
        background-color: #ffffff;
        z-index: 1;
        font-style: italic;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 20px;
    }

    .quote p {
        font-size: 35px;
        line-height: 30px;
    }

    .big-box-photo {
        all: unset;
        position: relative;
        display: inline-block;
        width: 450px;
        height: 300px;
        text-align: center;
        z-index: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 20px;
    }

    .small-box-photo {
        all: unset;
        position: relative;
        display: inline-block;
        background-color: rgba(97, 121, 155, 0.1);
        width: 450px;
        height: 150px;
        z-index: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 20px;
    }

    .cert-banner {
        width: 800px;
        height: 150px;
    }

    .box-left {
        width: 450px;
        height: 300px;
        padding: 25px;
        left: 50%;
        z-index: 0;
    }

    .box-left-2 {
        width: 450px;
        height: 300px;
        padding: 25px;
        left: 50%;
    }

    .box-right {
        width: 450px;
        height: 300px;
        padding: 25px;
        left: 50%;
    }

    .big-text h3 {
        font-size: 40px;
    }

    .big-text-2 h3 {
        font-size: 40px;
    }

    .big-text-cont h3 {
        font-size: 40px;
    }

    h4 {
        font-size: 25px;
    }

    h3 {
        font-size: 25px;
    }

    p {
        font-size: 17px;
    }

}

/* For screens with max-width: 820px */

@media only screen and (max-width:820px) {

    .hfj-logo {
        width: 90px;
        margin-left: 25%;
    }

    .bg-image {
        height: 700px;
    }

    .row {
        all: unset;
        height: 600px;
    }

    .big-box-text {
        all: unset;
        position: relative;
        display: inline-block;
        width: 410px;
        height: 300px;
        padding: 20px;
        text-align: center;
        background-color: #ffffff;
        z-index: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 20px;
    }

    .big-box-text p {
        font-size: 16px;
    }

    .quote {
        all: unset;
        position: relative;
        display: inline-block;
        width: 350px;
        height: 150px;
        padding: 50px;
        text-align: center;
        background-color: #ffffff;
        z-index: 1;
        font-style: italic;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 20px;
    }

    .quote p {
        font-size: 30px;
    }

    .big-box-photo {
        all: unset;
        position: relative;
        display: inline-block;
        width: 450px;
        height: 300px;
        z-index: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 20px;
    }

    .small-box-photo {
        all: unset;
        position: relative;
        display: inline-block;
        width: 450px;
        height: 150px;
        z-index: 0;
        background-color: rgba(97, 121, 155, 0.1);
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 20px;
    }

    .cert-banner {
        width: 650px;
        height: 150px;
    }

    .box-left {
        width: 450px;
        height: 300px;
        padding: 25px;
        left: 50%;
        z-index: 0;
    }

    .box-left-2 {
        width: 450px;
        height: 300px;
        padding: 25px;
        left: 50%;
    }

    .box-right {
        width: 450px;
        height: 300px;
        padding: 25px;
        left: 50%;
    }

    .big-text h3 {
        font-size: 35px;
    }

    .big-text-2 h3 {
        font-size: 35px;
    }

    .big-text-cont h3 {
        font-size: 35px;
    }

    h4 {
        font-size: 25px;
    }

    h3 {
        font-size: 25px;
    }

    p {
        font-size: 16px;
        line-height: 18px;
    }

}

/* For screens with max-width: 700px */

@media only screen and (max-width:700px) {

    .navbar #menu-bar {
        top: 55px;
    }

    .navbar-no-photo #menu-bar {
        top: 60px;
    }

    .hfj-logo {
        width: 80px;
        margin-left: 25%;
    }

    .bg-image {
        height: 700px;
    }

    .row {
        all: unset;
        height: 600px;
    }

    .big-box-text {
        all: unset;
        position: relative;
        display: inline-block;
        width: 350px;
        height: 250px;
        padding: 25px;
        text-align: center;
        background-color: rgb(255, 255, 255);
        z-index: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 20px;
    }

    .big-box-text p {
        font-size: 16px;
    }

    .quote {
        all: unset;
        position: relative;
        display: inline-block;
        width: 340px;
        height: 100px;
        padding: 30px;
        text-align: center;
        background-color: #ffffff;
        z-index: 1;
        font-style: italic;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 20px;
    }

    .quote p {
        font-size: 30px;
        line-height: 22px;
    }

    .big-box-photo {
        all: unset;
        position: relative;
        display: inline-block;
        width: 400px;
        height: 250px;
        text-align: center;
        z-index: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 20px;
    }

    .small-box-photo {
        all: unset;
        position: relative;
        display: inline-block;
        background-color: rgba(97, 121, 155, 0.1);
        width: 400px;
        height: 100px;
        z-index: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 20px;
    }

    .cert-banner {
        width: 500px;
        height: 120px;
    }

    .box-left {
        width: 400px;
        height: 300px;
        padding: 25px;
        left: 50%;
        z-index: 0;
    }

    .box-left-2 {
        width: 400px;
        height: 300px;
        padding: 25px;
        left: 50%;
    }

    .box-right {
        width: 400px;
        height: 300px;
        padding: 25px;
        left: 50%;
    }

    .big-text h3 {
        font-size: 35px;
    }

    .big-text-cont h3 {
        font-size: 35px;
    }

    h4 {
        font-size: 25px;
    }

    h3 {
        font-size: 25px;
    }

    p {
        font-size: 16px;
        line-height: 18px;
    }

    .footer .col-1 h4 {
        font-size: 20px;
    }

}

/* For screen with max-width: 530px */

@media only screen and (max-width:530px) {

    .footer .col-1 {
        all: unset;
        width: 100%;
        height: 20px;
        top: 0;
    }

    .footer .col-2 {
        all: unset;
        width: 100%;
        align-items: center;
        text-align: center;
        cursor: default;
    }

    .footer .col-3 {
        all: unset;
        width: 100%;
        align-items: center;
        text-align: center;
    }

}

/* For screens with max-width: 500px */

@media only screen and (max-width:500px) {

    .hfj-logo {
        width: 80px;
        margin-left: 40%;
    }

    .navbar #menu-bar {
        top: 60px;
        right: 20px;
    }

    .navbar-no-photo #menu-bar {
        top: 60px;
        right: 20px;
    }

    .bg-image {
        height: 700px;
    }

    .box-left {
        width: 250px;
        height: 400px;
    }

    .box-left-2 {
        width: 250px;
        height: 400px;
    }

    .box-right {
        width: 250px;
        height: 400px;
    }

    .fa-arrow-right {
        margin-left: 150px;
        margin-bottom: 0;
        margin-top: -30px;
    }

    .big-box-text {
        width: 250px;
        height: 400px;
    }

    .quote {
        width: 180px;
        height: 120px;
        padding: 60px;
    }

    .big-box-photo {
        width: 300px;
        height: 400px;
    }

    .small-box-photo {
        width: 300px;
        height: 120px;
    }

}

/* For screens with max-width: 400px */

@media only screen and (max-width:400px) {

    .navbar #menu-bar {
        top: 50px;
    }

    .navbar-no-photo #menu-bar {
        top: 50px;
    }
}

/* For screens with max-width: 360px */

@media only screen and (max-width:360px) {

    .navbar #menu-bar {
        top: 55px;
    }

    .navbar-no-photo #menu-bar {
        top: 55px;
    }

}

/* For screens with max-width: 320px */

@media only screen and (max-width:320px) {

    .navbar #menu-bar {
        top: 50px;
    }

    .navbar-no-photo #menu-bar {
        top: 50px;
    }

}

/* For screens with min-width:1304px and max-width: 1440px */

@media only screen and (min-width:1305px) and (max-width:1440px) {

    .navbar .menu {
        margin-top: 120px;
    }

    .navbar-no-photo .menu {
        margin-top: 120px;
    }

    .big-text-2 {
        margin-top: 240px;
    }

    .big-text-cont {
        margin-top: 20px;
    }

}